<!DOCTYPE html>
<html>
<head>
<title>Online Exam</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="exam-styles.css" rel="stylesheet">
<link href="blue.css" rel="stylesheet">

</head>
<body ng-app="myExam">
<div class="main" >
<side-bar></side-bar>
<div class="test" ng-controller="examQusController as exam"> 
<h1 id="test_status" ng-bind="test_status"></h1>
<test-dir></test-dir>
 <button ng-disabled="currentPage == 0" class="btn" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= questions.length/pageSize - 1" class="btn" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>
</div>
<script type="text/javascript" src="jquery.min-2.2.4.js"></script>
<script type="text/javascript" src="angularv1.4.js"></script>

<script type="text/javascript" src="myExam.js"></script>

</body>
</html>
